ul{ 
    list-style: none;
    padding: 8px;
    border: 1px #000 solid;
    display: block;
}
a{
    text-decoration: none;
    font-size: 18px;
    line-height: 35px;
}
div{
    max-width: 1280px;
    margin: auto;
    padding: 12px;
}
p{
    font-size: 17px;
}